  *{box-sizing:border-box;
}
html {
	font-family:Arial, Helvetica sans-serif;
	font-size:1.5em;
	height:100%;		
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #E3F2FD;/*#82CAFF;*/ 
}

header {
	background-color: #0C243C;
	position: fixed;
	color: #1E90FF;
	font-size: 1.5em;
	padding: 15px;
	width: 100%;
	/*height: 120px;*/
	text-align: center;
}

.btn-grp .btn {
	background-color: #1E90FF;
	color: white;
	font-size: 15px;
	padding: 6px 10px;
	border-radius: 15px;
	margin: 1px;
	float: right;
	border: none;
	cursor: pointer;
}

.logbtn, .signupbtn {
	background-color: #1E90FF;
	color: white;
	font-size: 20px;
	text-decoration: none;
	display: inline-block;
	padding: 8px 10px;
	margin: 15px auto;
	text-align: center;
	border: none;
	border-radius: 16px;
	cursor: pointer;
	width: 80%;
}


button:hover {
	opacity: 0.7;
}

/*for Modal form*/
input[type=text], input[type=password] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none; /*px solid #ccc;*/
	background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
	background-color: #ddd;
	outline: none;
	}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgb(0, 0, 0, 0.4);
	padding-top: 60px;
}

.closecontainer {
	text-align: center;
	position: relative;
}

.close {
	position: absolute;
	right: 35px; /*25%;*/
	top: 15px;  /*0;*/
	color: black;
	font-size: 35px;
	padding: 0 2px 0 2px;
}

.close:hover, .close:focus {
	background-color: red;
	color: white;
	cursor: pointer;
}

.fcontainer {
	padding: 16px;
	margin: 20px;
}

.fcontainer h1 {
	font-size: 30px;
}

.fcontainer label {
	font-size: 20px;
}


.modal-content {
	background-color: #fefefe;
	margin: 5% auto 15% auto;
	border: 1px solid #888;
	max-width: 600px;
}

/* Styling for the flash message modal */
.flash-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.flash-modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  max-width: 600px;
  width: 75%;
  height: 25%;
  margin: 5% auto 15% auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1E90FF;
  font-size: 24px;
}



div.psw {
	text-align: right;
	font-size: 16px;
	margin: 20px;
}

/*modal form animation*/
.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s;
}
@-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)} to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
	from {transform: scale(0)} to {transform: scale(1)}
}

@media screen and (max-width: 480px) {
	span.psw {
		display: block;
		float: none;
	}
	.logbtn, .signupbtn {
		width: 100%;
	}
	.modal-content {	
		width: 90%;
	}
	header {
		font-size: 1em;
	}
	.btn {
		font-size: 10px;
		padding: 4px 8px;
		margin: 0;
		margin-bottom: 4px;
	}
	.flex-item1 {
		padding-left: 10px;
	}
	.container {
		margin: 0px 20px 0px 20px;	
	}
	.flex-item1 h1 {
		font-size: 30px;
	}
	
}


.result {
	text-align: center;
	color: #1E90FF;
}

.container {
	display: flex;
	min-height: 25%;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: flex-end;
	gap: 30px;
}



.flex-item1 {
	max-width: 100%;
	flex: 0 0 30em;
	padding: 0 1% 0 1%;
	font-size: 1em;
	min-height: 25vh;
}


.flex-item2 {
	text-align: center;
	
}

.flex-item3 {
	flex: 0 0 10em;
	margin: auto;
	border: 1px solid #1E90FF;
	overflow: hidden;
	/*box-shadow: 5px 10px 10px pink;*/
}

.flex-item3 button {
	background-color: #2196f3;
	width: 25%;
	color: white;
	cursor: pointer;
	border: none;
	font-size: 0.6em;
}

.flex-item3 b, .bookmark b {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	white-space: pre-wrap;
	text-decoration: none;
	font-size: 0.8em;
	padding: 0;
}
.flex-item3 i, .bookmark i {
        white-space: nowrap;
	display: inline-block;
	overflow: hidden;
	max-width: 10em;
	text-overflow: ellipsis;
	font-size: 0.7em;
	padding-top: 8px;
}

.flex-item3 a {
	pointer: cursor;
	text-decoration: none;
	padding: 0;
}


form.search-container input[type=text] {
	padding: 10px;
	margin: 0px;
	font-size: 17px;
	border: 1px solid blue;
	float: left;
	width: 80%;
	height: 60px;
	background: #f1f1f1;
}

form.search-container button {
	float: left;
	width: 20%;
	height: 60px;
	padding: 10px;
	background: #2196f3;
	border: 1px solid blue;
	border-left: none;
	color: white;
	font-size: 17px;
	cursor: pointer;
}

form.search-container::after {
	content: "";
	clear: both;
	display: table;
}


/*Side bar navigation Pane*/
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #0C243C;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
}

.sidenav a {
	/*padding: 8px 8px 8px 32px;*/
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
	padding: 8px;
}

.delete i {
    cursor: pointer;
    color: #eee;
    float: right;
    font-size: 0.5em;
}

.delete i:hover {
	color: #AD3245;
}

#main {
	transition: margin-left 0.5s;
}

.bookmark {
	border: 1px solid blue;
	width: 70%;
	margin-left: 17px;
	margin-bottom: 10px;
}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}

/*End of navigation bar style*/ 

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #0C243C;
	width:100%;
	text-align: center;
	padding:20px;
	font-size: 0.8em;
	color: white;
}
footer a {
	text-decoration: none;
	color: white;
}
