<!DOCTYPE html>
<html lang = 'en-US'>
<head>
<title>Home page</title>
<link rel="icon" type="image/x-icon" href="static/images/favicon.ico">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta charset="UTF-8">
<meta name="description" content="connect to course">
<meta name="author" name="Aluko and Mubarak">
<meta name="keywords" content="free good best top online courses choice build career">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="static/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="static/ajax.js"></script>
<script src="static/script.js"></script>
</head>
<body>
<header>Connect to Course
        <span class="btn-grp">
                <button onclick="document.getElementById('f2').style.display='block'" style="width: auto;" type="button" class="btn">Sign Up</button>
                <button onclick="document.getElementById('f1').style.display='block'" style="width: auto;" type="button" class="btn">Log in</button>
        </span>
</header>

<hr>



<!--Modal Log in form -->

<div id="f1" class="modal">
        <form class="modal-content animate" action="/" method="POST">
                <div class="closecontainer">
                        <span onclick="document.getElementById('f1').style.display='none'" class="close" title="Close Modal">&times;</span>
                </div>

                <div class="fcontainer">
                        <h1>Log in</h1>
                        <p style="font-size: 16px;">Please fill this form to log in</p>
                <hr>
                        <label for="username"><b>Username</b></label>
                        <input type="text" placeholder="Enter Username" name="username" required>

                        <label for="password"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="password" required>                                                        
			<label style="margin-bottom:15px; font-size: 18px;"><input type="checkbox" checked="checked" name="remember">Remember me</label><br>
                        <div style="text-align: center"><button type="submit" class="logbtn" name="loginbtn">Login</button></div>

                </div>

                <div class="psw"> Forgot <a href="#" style="text-decoration: none;">password?</a> </div>
        </form>

</div>

<!--End of log in form -->



<!-- Modal Sign Up form -->

<div id="f2" class="modal">
        <form class="modal-content animate" action="/" method="POST">

                <div class="closecontainer">
                        <span onclick="document.getElementById('f2').style.display='none'" class="close" title="Close Modal">&times;</span>
                </div>

                <div class="fcontainer">
                <h1>Sign Up</h1>
                <p style="font-size: 16px;">Create an account for free.</p>
                <hr>
                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Enter Email" name="username" required>

                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>

                <label for="password-repeat"><b>Repeat Password</b></label>
                <input type="password" placeholder="Repeat Password" name="password-repeat" required>

                <label style="margin-bottom:15px; font-size: 18px;">
                <input type="checkbox" checked="checked" name="remember">Remember me
                </label>

                <div style="text-align: center">
                <button type="submit" class="signupbtn" name="signupbtn">Sign Up</button>
                </div>

        </div>
        </form>

</div>

<!-- End of Sign up form -->



<div class="container">
        <div class="flex-item1" style="padding-left: auto;"><h1 style="margin-top: 0px;">Learn everything in a place</h1>
                <p>Seach for courses, get an up-to-date online courses and sign up for free to bookmark your prefered or choiced courses.</p>
        </div>

        <div class="flex-item1">
                <div class="flex-item2">
                        <img src="static/images/img.png" style="width: 170px;">
                                <br><br>
                                <form class="search-container" style="width: 100%;">
                                        <input type="text" id="search-input" placeholder="Search.." required>
                                        <button type="submit"><i class="fa fa-search"></i></button>
                                </form>
                </div>

        </div>
</div>

<!-- Search Results comes in here -->
<div class="result" id="result-head"><h3></h3></div>
<div class="container" id="search-results"> </div>

<!-- Generate 10 random courses -->
<div class="result"><h3>Random Courses</h3>
	<div>
		{% for course in courses %}
			<div>
				<img src='../static/images/udemy.jpeg'>
				<a href='{{course[2]}}'>{{course[1]}}</a> <br> By: {{course[3]}}
			</div>
			<br> <hr> <br>
		{% endfor %}
	</div>
</div>
<br>

<div class="container">
	{% for result in r_courses %}
	<div class="flex-item3">
		<img src="static/images/img2.png" style="width: 100%;">
		<b>{{ result.title }}</b>
		<br><i style="font-size: 0.8em">{{ result.instructor }}</i><br>
		<button><a href='{{ result.url }}'>Visit</a></button>
		<button><a href='{{ result.url }}'>Save</a></button>
	</div>
	{% endfor %}
</div>

<br>
<br><br><br>
<br>
  <footer>&copy 2023</footer>

</body>
</html>
