<!DOCTYPE html>
<html lang = 'en-US'>
<head>
<title>User page</title>
<link rel="icon" type="image/x-icon" href="static/images/favicon.ico">
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<meta charset="UTF-8">
<meta name="description" content="connect to course">
<meta name="author" name="Aluko and Mubarak">
<meta name="keywords" content="free good best top online courses choice build career">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="static/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src='https://kit.fontawesome.com/a9534c06e2.js' crossorigin='anonymous'></script>
<input type="hidden" id="user-id" value="{{ user_id }}">
<script src="static/ajax.js"></script>
<script src="static/script.js"></script>
</head>
<body>
<header>
	<span class="btn-grp">
		<form action="{{ url_for('logout') }}" method="POST"><button type="submit" id='logout' class="btn" name="logoutbtn">Log Out</button></form>
	</span><span>Connect to Course</span>

	<span style="cursor: pointer; float: left;" onclick="openNav()">&#9776;</span>
</header>
<br><br><br><br><br>
<br style= "clear: both;">

<!-- Sidenav for Courses Bookmark -->

<div id="bookmark_container" class="sidenav">
	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	<p style="color: white; text-align: left-align; padding-left: 32px;">Bookmark</p>
	<!-- Saved Courses for the user comes in here -->
	{% for result in saved_courses %}
	<div class="bookmark">
                <a href='{{ result.url }}' target='_blank'><img src="static/images/img2.png" style="width: 100%;"></a>
		<b style="color: white; font-size: 0.6em;">{{ result.title }}</b>
		<i style="font-size: 0.4em; color: white"> By: {{ result.instructor }}</i><span class="delete" data-id="{{ result.id }}" data-user_id="{{ user_id }}"> <i class="far fa-trash-alt"></i></span>
	</div>
	{% endfor %}

</div>

<!-- End of Sidenav -->


<!-- Flash message modal-->
  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      <div class="flash-modal">
        <div class="flash-modal-content">
          {% for category, message in messages %}
            {% if category == 'login' %}
              <div class="flash-message flash-success">{{ message }}</div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
  {% endwith %}
<!--End of flash message template-->



<div id="main">


<div class="container"> 
	<div class="flex-item1" style="padding-left: auto;"><h1  style="margin-top: 0px;">Learn everything in a place</h1>
		<p>Welcome {{ username }}!</p>
		<p>Seach for courses, get an up-to-date online courses and bookmark your preferred or choiced courses for free.</p>
	</div>	
	<div class="flex-item1">
		<div class="flex-item2">
			<img src="static/images/img.png" style="width: 170px;">
			<br><br>
			<form class="search-container" style="width: 100%;">
				<input id="search-input" type="text" placeholder="Search.." required>
				<button type="submit"><i class="fa fa-search"></i></button>
			</form>
		</div>

	</div>
</div>

<!-- Search Results comes in here -->
<div class="result" id="result-head"><h3></h3></div>
<div class="container" id="search-results"> </div>

<!-- Generate 10 random courses-->
<div class="result"><h3>Random Courses</h3></div>
<br>
<div class="container">
	{% for result in random_courses %}
	<div class="flex-item3">
		<a href='{{ result.url }}' target='_blank'><img src="static/images/img2.png" style="width: 100%;"></a>
		<b>{{ result.title }}</b>
		<i>By: {{ result.instructor }}</i><br>
		<button class="savebtn" data-id="{{ result.id }}" data-user_id="{{ user_id }}"><i class="fas fa-save"></i> Save</button>
	</div>
        {% endfor %}
</div>

</div> <!-- end of main id -->
<br>
<br><br><br>
<br>
<footer>
	<a href='https://github.com/Mubarak1A/Connect-TO-Course'><i class='fa fa-github'></i>   Connect-to-Course  </a>
	<br>
	<a href="{{ url_for('list_courses') }}">Course API</a>
</footer>

</body>
 </html>
